#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
all the Folders h1 {
  /* text-align: end; */
  padding-bottom: 10px;
}

.folder {
  display: flex;
  align-items: center;

  background-color: rgb(183, 170, 154);
  padding: 10px 0px;
  border-radius: 5px;
}

.fileName {
  margin-right: auto;
  margin-left: 15px;
}

hr {
  /* margin-top: 10px;
  margin-bottom: 20px; */
}

button {
  margin: 0 5px;
}
